@import './vars.css';

*, *:before, *:after{
  box-sizing: border-box;
}

html {
  font-family: Reformat Grotesk, Helvetica, Arial, sans-serif;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-black);
  color: var(--color-text);
  margin: 0;
}

html, body, body > div, body > div > div {
  height: 100%;
}

a{
  color: inherit;
}

h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight: 400;
}