@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  width: 100%;
}

.titleMain {
  display: inline-block;
  font-size: inherit;
  order: 2;
  margin: 0;

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    text-decoration: none;
  }

  @nest & ul li a.active {
    color: #757575;
  }


  @media (hover: hover) {
    @nest & ul li a:hover {
      text-decoration: underline;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
    }

    @nest & ul li a {
      padding: 0 0 0.25rem;
    }
  }
}

  .nav .active{
    color: #757575;
  }