@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  border: 0.5rem solid transparent;
  height: 100%;
  overflow: hidden;
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
}

  .ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .axis{
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;

    &:before, &:after{
      content: "";
      background: #222;
      position: absolute;
      z-index: 2;
    }

      &:before{
        height: calc(100% - 1.75em - 1.5em);
        top: 1.75em;
        left: 50%;
        width: 1px;
      }

      &:after{
        height: 1px;
        top: 50%;
        left: 2.75em;
        width: calc(100% - 2.75em - 4.5em);
      }

    & span{
      color: var(--color-accent);
      cursor: default;
      display: block;
      font-size: 0.8rem;
      letter-spacing: 0.025em;
      pointer-events: none;
      position: absolute;
      text-transform: uppercase;
      user-select: none;
      z-index: 3;
    }
    
  }

    .xStart, .xEnd{
      top: 50%;
      transform: translateY(-50%);
    }

      .xStart{
      }

      .xEnd{
        right: 0;
      }

      .yStart, .yEnd{
        left: 50%;
        transform: translateX(-50%);
      }

        .yEnd{
          bottom: 0;
        }